@model CategoryListModel

@{
    ViewData["Title"] = "CategoryList";
}

<h1>CategoryList</h1>

<p>
    <a asp-controller="Admin" asp-action="CreateCategory" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width:30px">
                Id
            </th>
            <th>
                Name
            </th>
            <th style="width:140px"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCategory", new { id=item.Id }, new {@class="btn btn-info btn-sm"}) |
                @Html.ActionLink("Delete", "DeleteCategory", new { id=item.Id }, new {@class="btn btn-danger btn-sm"})
            </td>
        </tr>
}
    </tbody>
</table>
